In [1]:
import pandas as pd

pat:正则表达式应与单个选项匹配。
value:期权的新价值。
pandas.set_option(pat, value)

In [2]:
reviews = pd.read_csv("/home/ubuntu/anaconda/data/winemag-data_first150k.csv")
#只显示5行
#pd.set_option("display.max_rows", 5)

In [3]:
reviews.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

读description这一列

In [4]:
desc = reviews["description"]

In [5]:
#也可以用loc函数，如听list的表示方法，用 ： 表示所有的行，选择了'description'这一列
# X.loc[哪些行,哪些列]，可以用[]来加大表达范围。
desc2 = reviews.loc[:, ["country",'description',]]

# 还能用iloc函数
# X.iloc[哪些行,哪些列]，但“哪些列”要用[]配上数字。
#iloc 使用 Python stdlib 索引方案，其中范围的第一个元素被包括在内，最后一个元素被排除在外。所以 0:10 将会选择条目 0,...,9
desc3 = reviews.iloc[:, [1,2]]

In [14]:
display(desc)

0     This tremendous 100% varietal wine hails from ...
1     Ripe aromas of fig, blackberry and cassis are ...
2     Mac Watson honors the memory of a wine once ma...
3     This spent 20 months in 30% new French oak, an...
4     This is the top wine from La Bégude, named aft...
5     Deep, dense and pure from the opening bell, th...
6     Slightly gritty black-fruit aromas include a s...
7     Lush cedary black-fruit aromas are luxe and of...
8     This re-named vineyard was formerly bottled as...
9     The producer sources from two blocks of the vi...
10    Elegance, complexity and structure come togeth...
11    From 18-year-old vines, this supple well-balan...
12    A standout even in this terrific lineup of 201...
13    This wine is in peak condition. The tannins an...
14    With its sophisticated mix of mineral, acid an...
15    First made in 2006, this succulent luscious Ch...
16    This blockbuster, powerhouse of a wine suggest...
17    Nicely oaked blackberry, licorice, vanilla and...
18    Coming from a seven-acre vineyard named after ...
19    This fresh and lively medium-bodied wine is be...
Name: description, dtype: object

In [7]:
display(desc2)
display(desc3)

       country                                        description
0           US  This tremendous 100% varietal wine hails from ...
1        Spain  Ripe aromas of fig, blackberry and cassis are ...
2           US  Mac Watson honors the memory of a wine once ma...
3           US  This spent 20 months in 30% new French oak, an...
4       France  This is the top wine from La Bégude, named aft...
...        ...                                                ...
150925   Italy  Many people feel Fiano represents southern Ita...
150926  France  Offers an intriguing nose with ginger, lime an...
150927   Italy  This classic example comes from a cru vineyard...
150928  France  A perfect salmon shade, with scents of peaches...
150929   Italy  More Pinot Grigios should taste like this. A r...

[150930 rows x 2 columns]

       country                                        description
0           US  This tremendous 100% varietal wine hails from ...
1        Spain  Ripe aromas of fig, blackberry and cassis are ...
2           US  Mac Watson honors the memory of a wine once ma...
3           US  This spent 20 months in 30% new French oak, an...
4       France  This is the top wine from La Bégude, named aft...
...        ...                                                ...
150925   Italy  Many people feel Fiano represents southern Ita...
150926  France  Offers an intriguing nose with ginger, lime an...
150927   Italy  This classic example comes from a cru vineyard...
150928  France  A perfect salmon shade, with scents of peaches...
150929   Italy  More Pinot Grigios should taste like this. A r...

[150930 rows x 2 columns]

读description这一列的第一行，一样用loc。

In [8]:
first_description = desc.loc[0]

完整操作一遍读某一列的某一行，注意，loc是全选不舍所以更实用。

In [9]:
reviews.loc[0,["province"]]

province    California
Name: 0, dtype: object

In [10]:
#换成没后缀的选择方法
provinceS = reviews.loc[:,["province"]]
reviews["province"][0]

'California'

全选标题的方法，也能用到全选某一行

In [12]:
first_row = reviews.loc[0,:]
display(first_row)

Unnamed: 0                                                     0
country                                                       US
description    This tremendous 100% varietal wine hails from ...
designation                                    Martha's Vineyard
points                                                        96
price                                                      235.0
province                                              California
region_1                                             Napa Valley
region_2                                                    Napa
variety                                       Cabernet Sauvignon
winery                                                     Heitz
Name: 0, dtype: object

In [13]:
#创建一个变量df，包含["country","province","region_1","region_2"]的记录，索引标签为[0,1,10,100]

df = reviews.loc[[0,1,10,100],["country","province","region_1","region_2"]]

In [21]:
desc2.head(80)

   country                                        description
0       US  This tremendous 100% varietal wine hails from ...
1    Spain  Ripe aromas of fig, blackberry and cassis are ...
2       US  Mac Watson honors the memory of a wine once ma...
3       US  This spent 20 months in 30% new French oak, an...
4   France  This is the top wine from La Bégude, named aft...
..     ...                                                ...
75      US  An elegant blend from different estate vineyar...
76  France  This wine is bone-dry, although with some age ...
77      US  Given four months in concrete egg, this is an ...
78      US  This wine over-delivers in quality for the pri...
79   Italy  Underbrush, smoke, mocha and dark fruit aromas...

[80 rows x 2 columns]

创建一个DataFrame top_oceania_wines，
    包含所有来自Australia或New Zealand的葡萄酒的至少95分（满分100分）的评论。

In [26]:
top_oceania_wines = reviews.loc[
    (  reviews.country.isin(  ['Australia','New Zealand']  )  )
    & (reviews.points >=95 )
,:]
# 注意 ： 逻辑判断之间的条件要防括号里面。

除了isin()以外，还能用notnull和 X.isnull() 筛选空值存在的行数。

In [27]:
# 只保留所有price不为空的行
reviews.loc[reviews.price.notnull()]

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
2148,2148,Australia,Full-bodied and plush yet vibrant and imbued w...,The Factor,98,125.0,South Australia,Barossa Valley,NaN,Shiraz,Torbreck
2458,2458,Australia,This is a top example of the classic Australia...,The Peake,96,150.0,South Australia,McLaren Vale,NaN,Cabernet-Shiraz,Hickinbotham
3033,3033,Australia,This Cabernet equivalent to Grange has explode...,Bin 707,95,500.0,South Australia,South Australia,NaN,Cabernet Sauvignon,Penfolds
3044,3044,Australia,"From vines planted in 1912, this has been an i...",Mount Edelstone Vineyard,95,200.0,South Australia,Eden Valley,NaN,Shiraz,Henschke
3047,3047,Australia,"This is a throwback to those brash, flavor-exu...",One,95,95.0,South Australia,Langhorne Creek,NaN,Red Blend,Heartland
...,...,...,...,...,...,...,...,...,...,...,...
122779,122779,Australia,If Standish's Relic is the feminine side of Sh...,The Standish Single Vineyard,96,135.0,South Australia,Barossa Valley,NaN,Shiraz,Standish
127614,127614,Australia,This stellar wine takes a little time in the g...,Hill of Grace,95,625.0,South Australia,Eden Valley,NaN,Shiraz,Henschke
137383,137383,Australia,The 2007 Astralis impresses for its combinatio...,Astralis,95,225.0,South Australia,Clarendon,NaN,Syrah,Clarendon Hills
150562,150562,Australia,"As unevolved as they are, the dense and multil...",Grange,96,185.0,South Australia,South Australia,NaN,Shiraz,Penfolds
150563,150563,Australia,"Seamless luxury from stem to stern, this ‘baby...",RWT,95,70.0,South Australia,Barossa Valley,NaN,Shiraz,Penfolds